TABLE, TR, TH, TD {font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-weight: 600;}
a, u {text-decoration: none; color: rgba(0, 0, 0, 0.85); font-size: 15px; font-weight: 400;}
a:link, a:visited {color: rgba(0, 0, 0, 0.85);}
a:hover {text-decoration: underline;}
.preview {font-size: 13px;font-weight: 200;}
.album_name {padding: 5px;}
table {
  border-collapse: collapse;
  border: 1px;
  border-color: rgb(212, 212, 212);
}
b {font-weight: 600;}
tr#d {background: #ffffb8;}
tr#v {background: #d0f0c0;}
tr#x {background: #ebebeb;}
tr#o {background: #ddeeff;}
.bV {background: #d0f0c0;}
.bD {background: #ffffb8;}
.bX {background: #ebebeb;}
.bE {background: #ffffff;}
.bO {background: #ddeeff;}  
.bI {background: #49423d; color: #ffffff;}  

div.hdr{
	color: rgba(0, 0, 0, 0.85);
	font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-synthesis: none;
	font-weight: 600;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 32px;
}

div.main {
	color: rgba(0, 0, 0, 0.85);
	color-scheme: light dark;
	column-gap: 0px;
	cursor: default;
	font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-synthesis: none;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 22px;
	position: relative;
	row-gap: 0px;
	visibility: visible;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 32px;
}

div.main-date {
	color: rgba(0, 0, 0, 0.85);
	color-scheme: light dark;
	column-gap: 0px;
	cursor: default;
	font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-synthesis: none;
	font-weight: 100;
	letter-spacing: normal;
	line-height: 22px;
	position: relative;
	row-gap: 0px;
	visibility: visible;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 0px;
}

input {
  border-radius: 5px;
  border: 1px solid grey;
}

input:hover {
    -webkit-filter: brightness(70%);
}