name: Apple Music Releases Recomender

on:
  # schedule:
  #   - cron: '9 5 * * 5' # Every Friday at 5:09 UTC (+/- 15 min). 5:09 UTC is 8:09 in Moscow.
  # push:                    # That's one was before!
  #   branches: [ "main" ]   # That's one was before!
  # pull_request:
  #   branches: [ "main" ]
  workflow_run:
    workflows: ["pages-build-deployment"]
    types:
      - completed
env:
  tg_channel_id: ${{ secrets.TG_CHANNEL_ID }}
  tg_token: ${{ secrets.TG_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13.1
      uses: actions/setup-python@v5
      with:
        python-version: "3.13.1"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f 'Python Scripts/requirements.txt' ]; then pip install -r 'Python Scripts/requirements.txt'; fi
    - name: execute py script
      run: python 'Python Scripts/AMR_Recomender_github.py'
    - name: commit files
      run: |
        git config --local user.email "mushroomoff@mail.ru"
        git config --local user.name "MushroomOFF"
        git add -A
        git commit -a -m "AMR Recomender autoupdate"
    - name: push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main 
